.add-new-block {
  width: 70%;
  position: absolute;
  margin-top: 75px;
  margin-left: 50%;
  transform: translate(-50%, 0);
  background-color: white;
  opacity: 1;
  display: flex;
  flex-direction: column;
  padding: 15px 25px;
  border-radius: 15px;
}
.exit-add-new-block-wrapper {
  width: 100%;
  align-content: center;
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}
.form-line span{
  margin: 0px 10px;
}
.exit-add-new-block {
  border: none;
  outline: none;
  border: 1px solid rgb(66, 66, 66);
  background-color: rgba(255, 0, 0, 0.9);
  border-radius: 5px;
  width: 100px;
  height: 40px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  font-size: 1.3em;
  color: black;
}
.add-new-submit {
  border: none;
  outline: none;
  border: 1px solid rgb(66, 66, 66);
  background-color: rgba(51, 153, 0, 0.9);
  border-radius: 5px;
  width: 100px;
  height: 40px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}
.title {
  height: 10%;
  width: 100%;
  margin: none;
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form input {
  width: 30%;
  height: 20px;
  outline: none;
}
.form h4 {
  margin: 0px;
  margin-bottom: 10px;
}
.form-line {
  flex: 1;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.form-line-last {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 2;
}
.add-players-wrapper {
  width: 80%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}
.post-player-submit {
  outline: none;
  border: none;
  background: none;
  height: 40px;
  background-color: rgba(51, 153, 0, 0.9);
  font-size: 1.4em;
  border-radius: 10px;
}
.Person {
  display: flex;
  border-radius: 10px;
  min-height: 55px;
  align-items: center;
  margin-top: 15px;
  background-color: white;
}
.content-item {
  height: 35px;
  padding-right: 10px;
  flex: 1;
  border-right: 1px solid rgba(66, 66, 66, 0.1);
  padding: 5px 5px;
  font-size: 0.9em;
  color: rgba(66, 66, 66, 0.7);
  display: flex;
  align-items: center;
}
.name {
  color: rgba(66, 66, 66);
  font-weight: bold;
  padding-left: 20px;
}
.gol {
  color: rgba(66, 66, 66);
  font-weight: bold;
}
.asist {
  color: rgba(66, 66, 66);
  font-weight: bold;
}
.numberedList {
  height: 20px;
  width: 20px;
  margin-left: -30px;
  color: rgb(66, 66, 66);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.1em;
}
.numberedList i {
  margin-right: 5px;
}
.all {
  padding: 25px;
  font-size: 0.9em;
  overflow: scroll;
}
