.all-wrapper {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
}
.big-circle {
  background-color: white;
  width: 50vw;
  height: 50vw;
  border-radius: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(20%, 40%);
  z-index: -1;
}
.small-circle {
  background-color: white;
  width: 50vw;
  height: 50vw;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-25%, -25%);
  z-index: -1;
}
.all-content {
  width: 50vw;
  height: 100vh;
  padding-left: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-box {
  width: 65%;
  height: 50%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(230, 255, 194, 1);
  border-radius: 79px;
  padding: 5% 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-box-title {
  font-size: 60px;
  font-weight: 600;
  font-family: "Raleway";
  color: rgb(112, 112, 112);
  text-align: center;
}
.input-box-name {
  margin-top: 2%;
  font-weight: lighter;
  font-size: 42px;
  font-family: "Raleway";
  color: rgb(112, 112, 112);
}
.input-line {
  display: flex;
  width: 75%;
  height: 12%;
  margin-top: 5%;
  position: relative;
}
.see-password-button {
  font-size: 28px;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.see-password-button:hover {
  color: black;
}
.password-input {
  padding: 3% 5%;
  width: 100%;
  outline: none;
  box-shadow: 0px;
  border: 1px solid rgb(171, 171, 171);
  color: rgb(112, 112, 112);
  border-radius: 82px;
  padding-right: 15%;
  font-size: 28px;
  font-family: "Source Sans Pro";
  font-weight: lighter;
}
.form-send-button {
  width: 75%;
  height: 12%;
  margin-top: 5%;
  outline: none;
  box-shadow: 0px;
  border: 1px solid rgb(158, 158, 158);
  background-color: rgb(102, 102, 102);
  color: rgb(242, 242, 242);
  border-radius: 82px;
  font-size: 25px;
  font-family: "Source Sans Pro";
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 0;
}
.login-line {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  width: 100%;
}
.login-tag {
  color: rgba(112, 112, 112, 1);
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}
.images-wrapper {
  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.main-image {
  max-width: 100%;
  max-height: 100%;
  margin-top: 50vh;
  transform: translateY(-50%);
}
.error-line {
  margin-top: 3%;
  justify-content: center;
  width: 100%;
  display: flex;
  font-size: 20px;
  text-align: center;
}
.error-line-span {
  color: red; 
}
.error-line-span-default {
  color: red;
  display: none;
}
.animation-class {
  -webkit-animation: shake 0.1s ease-in-out 0.1s infinite alternate;
}

@-webkit-keyframes shake {
  from {
    color: red;
  }
  to {
    color: rgba(255, 51, 51, 0.7);
  }
 
 }

 @media only screen and (orientation: portrait) {
  .images-wrapper {
    display: none;
  }
  .all-content {
    width: 100vw;
    flex: 1;
    margin: 0px;
    padding: 0px;
  }
  .form-send-button {
    padding: 2% 0;
  }
  .input-box {
    width: 90%;
    height: auto;
    padding: 15% 0px;
  }
  .all-wrapper {
    display: flex;
    flex-direction: column;
  }
}
