.form {
  display: flex;
  width: 80%;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  height: 60%;
  position: relative;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.password-form {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  height: 60%;
  display: none;
}
.form-left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 33%;
  justify-content: center;
  align-items: center;
}
.form-right-side {
  flex: 2;
  display: flex;
  flex-direction: column;
  width: 66%;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}
.image {
  width: 180px;
  height: 180px;
  border-radius: 100%;
}
.profile-picture {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  border-radius: 100%;
}
.profile-input {
  display: none;
}
.red {
  color: red;
  font-size: 1.6em;
  padding-left: 5px;
}
.form-explanation {
  width: 100%;
  margin-bottom: 25px;
}
.form-part {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
}
.input-info {
  font-size: 1.2em;
  margin-right: 5px;
}
.form-part input {
  height: 45px;
  border-radius: 20px;
  outline: none;
  border: none;
  margin-bottom: 3px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5em;
}
.form-submit {
  width: 100%;
}
.submit-button {
  width: 50%;
  margin-left: 100%;
  transform: translateX(-100%);
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.submit-button input {
  border-radius: 20px;
  height: 45px;
  font-size: 1.6em;
  color: rgba(66, 66, 66, 1);
  cursor: pointer;
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: 25px;
  width: 50%;
}
.err-message {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  width: 100%;
  color: rgba(255, 0, 0, 0.7);
  font-size: 1.1em;
}
.err-message-text {
  text-align: center;
}
.change-password-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin-top: 25px;
  border-radius: 20px;
  height: 50px;
  color: black;
  cursor: pointer;
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
}
.change-password-button span {
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
.submit-part {
  width: 25%;
  margin-left: 100%;
  transform: translateX(-100%);
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.password-submit-button {
  border-radius: 20px;
  height: 45px;
  font-size: 1.6em;
  color: rgba(66, 66, 66, 1);
  cursor: pointer;
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
  width: 50%;
  margin-left: 15px;
}
.password-form-part {
  display: flex;
}
.password-exit-button {
  font-size: 2em;
  cursor: pointer;
}
.profile-input-explanation {
  margin-top: 5px;
  font-size: 0.8em;
  font-style: italic;
  width: 100%;
  text-align: center;
}
.exit-edit-page-button {
  font-size: 2em;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 850px) and (min-width: 750px) {
  .form-right-side {
    font-size: 0.9em;
  }
  .form-part input {
    font-size: 1.4em;
  }
  .change-password-button span {
    font-size: 1em;
  }
} 

@media only screen and (max-width: 750px) and (min-width: 600px) {
  .form-right-side {
    font-size: 0.9em;
  }
  .form-part input {
    font-size: 1.2em;
  }
  .change-password-button span {
    font-size: 0.9em;
  }
  .form {
    flex-direction: column;
    height: auto;
  }
  .form-left-side {
    align-self: center;
  }
  .form-right-side {
    width: 100%;
  }
  .form-submit {
    padding-right: 50px;
  }
  .password-form {
    margin: 0px;
    padding: 15px;
    font-size: 0.8em;
  }
} 

@media only screen and (max-width: 600px) and (min-width: 500px) {
  .form-right-side {
    font-size: 0.9em;
  }
  .form-part input {
    font-size: 1.2em;
  }
  .change-password-button {
    width: 100%;
  }
  .change-password-button span {
    font-size: 0.9em;
  }
  .form {
    flex-direction: column;
    height: auto;
    margin-bottom: 25px;
  }
  .form-left-side {
    align-self: center;
  }
  .form-right-side {
    width: 100%;
  }
  .form-submit {
    padding-right: 50px;
  }
  .password-form {
    margin: 0px;
    padding: 15px;
    font-size: 0.8em;
  }
} 

@media only screen and (max-width: 500px) and (min-width: 300px) {
  .form-right-side {
    font-size: 0.8em;
    margin: 0px;
  }
  .form-part input {
    font-size: 1em;
  }
  .change-password-button {
    width: 125%;
  }
  .change-password-button span {
    font-size: 0.8em;
  }
  .form {
    flex-direction: column;
    height: auto;
    margin-bottom: 25px;
  }
  .form-left-side {
    align-self: center;
  }
  .form-right-side {
    width: 100%;
  }
  .form-submit {
    padding-right: 50px;
  }
  .password-form {
    margin: 0px;
    padding: 15px;
    font-size: 0.7em;
  }
  .password-form .form-submit {
    padding: 0px;
  }
  .submit-part {
    width: 50%;
  }
  .password-form-part {
    margin-top: 3px;
  }
  .password-form-part input {
    font-size: 1.2em;
  }
  .password-form-part-wrapper {
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
  }
} 
