extends ../partials/head
block content
  .add-new-block
    h2.title Yeni Maç Ekle
    form.form(action="/admin/matches/new" method="POST")
      h4 Yeni maç girişini tamamlamak için aşağıdaki bilgileri doldurun:
      .form-line
        span Lig:
        select(name="league")
          each league in leagues
            option(value= league._id)= league.name
        span.match-date Maç tarihi
        input(type="text" placeholder="Maç tarihi" autocomplete="off" name="date") 
      .form-line
        .team-one
          span Takım 1:
          select(name="teamOne")
            each team in teams
              option(value= team._id)= team.name
        .match-result
          span.match-date Maç sonucu:
          input(type="text" placeholder="Takım 1 - Takım 2" autocomplete="off" name="result") 
        .team-two
          span Takım 2:
          select(name="teamTwo")
            each team in teams
              option(value= team._id)= team.name
      .exit-add-new-block-wrapper
        a(href="/admin/matches").exit-add-new-block Çıkış
        button.add-new-submit(type="submit") Kaydet  
