extends ../../partials/head
block content
  .all-wrapper
    .all-header
      span.name scourt
    .all-content
      form.form(action="/login" method="POST")
        input.form-inputs(type="text" name="email" placeholder="email" autocomplete="off" autofocus)
        input.form-inputs(type="password" name="password" placeholder="password" autocomplete="off")
        - if (err) {
          - if (err == 1) { 
            .err-message 
              span.err-message-text Sorry, your e-mail or password is wrong
          - }
        - }
        input.submit-button(type="submit" value="Login")
      a.login-link(href="/register") Don't you have an acount?
