extends ../partials/head
block content
  .header
    .header-content
      .left-side
        a(href="/german")
          img.logo(src="/res/logo.jpeg")
        a.toPlayers.toButton(href="/german/spieler") Spieler
        a.toLeagues.toButton(href="/german/ligen") Ligen
        a.toSchools.toButton(href="/german/teams") Teams
        a.toCommunication.toButton(href="/german/hilfe") Über uns
      .right-side
        a.language-choice(href="/")
          img.flag-icon(src="https://lipis.github.io/flag-icon-css/flags/4x3/tr.svg")
        a.language-choice(href="/english")
          img.flag-icon(src="https://lipis.github.io/flag-icon-css/flags/4x3/gb.svg")
  .main
    block main
    .footer
      .about-us
        h2.footer-row-heading Über uns
        ul.footer-row-content
          li 
            a.loy-logo(href="https://www.instagram.com/loycommunity") LOY
          li Gemeinschaft
          li Sicherheitsrichtlinie
          li Nutzungsbedingungen
      .adres
        h2 Adresse
        span Kolektif House Levent
        br
        span Esentepe Mahallesi, 
        br
        span Talatpaşa Cd. No:5,
        br
        span 34394 Şişli/İstanbul
      .social-media
        h2 Folge uns
        .footer-row-content
          a.i(href="https://www.instagram.com/spoonsorcom")
            i.fab.fa-instagram
          a.i(href="https://www.linkedin.com/company/spoonsor/")
            i.fab.fa-linkedin-in
          a.i(href="https://www.youtube.com")
            i.fab.fa-youtube
  
        
