.all-content-dashboard {
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  height: 90vh;
  width: 90vw;
  margin-left: 50%;
  transform: translateX(-50%);
}
.user-description {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 60%;
}
.user-name {
  font-size: 1.6em;
  color: black;
  margin-right: 5px;
}
.user-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 5px;
}
.content-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
}
.content-right-side {
  background-color: rgba(0, 0, 0, 0.7);
  height: 90%;
  width: 100%;
  flex: 1;
  border-radius: 20px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}
.content-side-header {
  color: rgba(255, 255, 255, 0.8);
  margin: 5px;
  font-size: 1.5em;
  width: 95%;
  padding-left: 15px;
  padding-top: 5px;
  height: 40px;
  margin-top: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.content-right-info {
  width: 100%;
  height: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.8);
}
.content-right-not-member {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.join-team-button {
  margin: 25px 0px;
  width: 60%;
  height: 40px;
  border-radius: 15px;
  color: black;
  font-size: 1.3em;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  outline: none;
}
.content-right-join-team {
  display: none;
  flex-direction: column;
}
.join-team-form {
  margin-bottom: 15px;
} 
.join-team-form input {
  height: 45px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5em;
  padding-left: 10px;
}
.team-photo {
  height: 100%;
  border-radius: 10px;
}
.team-name {
  margin: 0px 10px;
  font-size: 0.8em;
}
.player-number {
  font-size: 0.7em;
}
.edit-team {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  display: flex;
  align-items: center;
  height: 100%;
}
.go-to-team-button {
  margin: 25px 0px;
  width: 25%;
  height: 50px;
  border-radius: 15px;
  color: black;
  font-size: 1.3em;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  outline: none;
}

@media only screen and (max-width: 750px) and (min-width: 550px) {
  .user-name {
    font-size: 1.4em;
  }
  .user-description {
    width: 50%;
    margin-left: 40%;
  }
}

@media only screen and (max-width: 550px) and (min-width: 400px) {
  .user-name {
    font-size: 1.2em;
  }
  .user-image {
    width: 40px;
    height: 40px;
  }
  .user-description {
    width: 70%;
    margin-left: 30%;
  }
}

@media only screen and (max-width: 400px) and (min-width: 300px) {
  .user-name {
    font-size: 1.1em;
  }
  .user-image {
    width: 35px;
    height: 35px;
  }
  .user-description {
    width: 80%;
    margin-left: 0px;
  }
  .content-right-not-member {
    font-size: 0.8em;
  }
  .join-team-button {
    height: 35px;
    margin-top: 5px;
  }
}
