extends ../../partials/head
block content
  .all-wrapper
    .all-header
      a(href="/").all-header-name scourt
    .all-content
      form.form(action="/app/coach/validate" method="POST" enctype="multipart/form-data")
        .form-left-side
          label.profile-picture(for="profile")
            img.image(src="/res/uploads/" + coach.profileFoto)
          input.profile-input(type="file" id="profile" name="profile" accept="image/*")
          - if (err) {
            - if (err == 1) { 
              .err-message 
                span.err-message-text Please type all the necessary information
            - }
            - else if (err == 2) { 
              .err-message 
                span.err-message-text Please confirm your password 
            - }
            - else if (err == 3) { 
              .err-message 
                span.err-message-text Your e-mail is not valid
            - }
            - else if (err == 4) { 
              .err-message 
                span.err-message-text Your password should be longer than 5 digits
            - }
            - else if (err == 5) { 
              .err-message 
                span.err-message-text Sorry, this e-mail has already been taken
            - }
            - else if (err == 5) { 
              .err-message 
                span.err-message-text Sorry, this e-mail has already been taken
            - }
          - }
        .form-right-side
          .form-explanation
            h2 Hi coach,
            span Thank you for joining us! Please change your password and edit your personal informations before you move on.
          .form-part
            span.input-info Your new password:
            input(type="password" name="password" autocomplete="off" autofocus) 
            span.red *
          .form-part
            span.input-info Confirm your password:
            input(type="password" name="confirmPassword" autocomplete="off") 
            span.red *
          .form-part
            span.input-info Your name:
            input(type="text" name="name" autocomplete="off") 
            span.red *
          .form-part
            span.input-info Your email:
            input(type="text" name="email" autocomplete="off") 
            span.red *
          .form-part
            span.input-info Your phone number:
            input(type="tel" name="phone" autocomplete="off") 
          .form-submit
            input.submit-button(type="submit" value="Ok") 
