extends ../../partials/header
block main
  .all
    form(action="/auth/register", method="post" enctype="multipart/form-data")
      .form-description
        h2 Lütfen takım üyelerinin sana ulaşabilmesi için ismini ve soyismini gir
      .form
        input(type="text" name="name" placeholder="İsim soyisim")
      .form-description
        h2 Lütfen e-mailini gir
      .form
        input(type="text" placeholder="e-mail" name="email")
      .form-description
      .form
      .form-description
      .form
      .form-description
      .form
      
      input(type="file" id="profile" name="profile" accept="image/png, image/jpeg")
      input(type="submit" value="Gönder")
