* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}
html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100%;
	background: linear-gradient(180deg, rgba(223, 255, 222, 1), rgba(223, 255, 136, 1));
	background-size: cover;
}
body {
  font-family: "Raleway";
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 100%;
  bottom: 0px;
  min-height: 100%;
  overflow: hidden;
}
a {
  text-decoration: none;
}
.display-none {
  display: none;
}
.all-header {
  height: 7vh;
  background: white;
  border: 1px solid rgba(230, 255, 194, 1);
  padding: 0px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.all-header-name {
  font-family: "Raleway";
  color: rgb(78, 78, 78);
  font-weight: 600;
  font-size: 49px;
}
.user-description {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.user-name {
  font-size: 37px;
  font-family: "Raleway";
  color: rgb(78, 78, 78);
  font-weight: 500;
  margin-right: 10px;
}
.user-image {
  max-height: 80%;
  border-radius: 100%;
}
.user-edit-menu {
  position: absolute;
  right: 5vw;
  top: 7vh;
  background: white;
  display: none;
  flex-direction: column;
  border: 1px solid rgba(230, 255, 194, 1);
  border-top: 0px;
  z-index: 10;
}
.user-description-line {
  padding: 15px;
  font-size: 20px;
  color: rgb(78, 78, 78);
  font-weight: 400;
  z-index: 2;
  font-family: "Raleway";
}
.user-description-line:hover {
  text-decoration: underline;
}
.notification-line {
  margin-top: 2%;
  right: 2%;
  position: absolute;
  z-index: 5;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
}
.each-notification {
  background: white;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 1px solid rgba(230, 255, 194, 1);
  border: 1px solid rgb(217, 217, 217);
}
.notification-title {
  font-size: 20px;
  color: rgb(78, 78, 78);
  font-family: "Raleway";
  font-weight: 700;
}
.notification-content {
  font-size: 18px;
  color: rgb(78, 78, 78);
  font-family: "Raleway";
  font-weight: lighter;
}
.each-notification-symbol {
  position: absolute;
  margin-top: 0;
  margin-right: 0;
  transform: translate(100%, -100%);
  color: rgb(78, 78, 78);
  font-size: 20px;
}
