html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
html::before {
  content:"";
	z-index:-1;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:rgba(66, 66, 66, 1) url("/res/images/app_background.jpg") center;
	background-size: cover;
}
body {
  font-family: "Roboto Slab", "Roboto";
  -webkit-font-smoothing: subpixel-antialiased;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 100%;
  bottom: 0px;
  min-height: 100%;
}
a {
  text-decoration: none;
}
.main {
  padding: 0px;
}
.all-wrapper {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.all-header {
  height: 10vh;
  display: flex;
  padding: 0px 25px;
  align-items: center;
  justify-content: space-between;
}
.all-header-name {
  font-size: 2em;
  color: black;
}
.all-content {
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  width: 100vw;
  align-items: center;
  flex-direction: column;
}
.--button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.all-content-dashboard {
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  width: 90vw;
  height: 85vh;
  margin-left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  margin-bottom: 25px;
}
.user-description {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  left: 95%;
  transform: translateX(-95%);
  top: 20px;
  width: 250px;
  z-index: 2;
}
.user-description-line-first {
  display: flex;
  align-content: center;
  height: 50px;
  margin-bottom: 10px;
}
.user-description-line {
  display: flex;
  background-color: white;
  height: 50px;
  width: 100%;
  justify-content: center;
  border: 1px solid black;
  border-bottom: 0px;
  align-items: center;
  color: black;
  display: none;
}
.user-description-line:hover {
  background-color: rgba(66, 66, 66, 1);
  color: white;
}
.user-name {
  font-size: 1.6em;
  color: black;
  margin-right: 5px;
  display: flex;
  align-items: center;
}
.user-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 5px;
}

@media only screen and (orientation: portrait) {
  html::before {
    content: "";
    background: url("/res/images/app_background_vertical.jpg");
    background-size: cover;
  }
  .all-header-name {
    color: rgba(255, 255, 255, 0.8);
  }
}
