html {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
html::before {
  content:"";
	z-index:-1;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background:rgba(66, 66, 66, 1) url("/res/images/app_background.jpg") center;
	background-size:cover
}
body {
  font-family: "Roboto Slab", "Roboto";
  -webkit-font-smoothing: subpixel-antialiased;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
.main {
  padding: 0px;
}
.all-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.all-header {
  height: 100px;
  display: flex;
  padding: 25px 25px;
}
.all-header-name {
  font-size: 2em;
  color: black;
}
.all-content {
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  width: 100vw;
  align-items: center;
  flex-direction: column;
}
.--button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
}

@media only screen and (orientation: portrait) {
  html::before {
    content: "";
    background: url("/res/images/app_background_vertical.jpg");
    background-size: cover;
  }
  .all-header-name {
    color: rgba(255, 255, 255, 0.8);
  }
}
