.content-title-info {
  margin: none;
  padding: none;
  font-size: 1.7em;
  text-align: center;
}
.all-content-wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  border-radius: 10px;
  margin: 0px 25px;
  margin-bottom: 25px;
}
.register-button {
  margin: 25px 0px;
  width: 20%;
  height: 5vh;
  border-radius: 50px;
  font-size: 1.4em;
  padding: 5px;
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
}
.login-link {
  color: white;
  font-size: 1.2em;
  padding: 4px 0px;
  border-radius: 10px;
}
.login-link:hover {
  padding-bottom: 0px;
  border-bottom: 4px solid rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 800px) and (min-width: 700px) {
  .all-content-wrapper h1{
    font-size: 1.8em;
  }
  .content-title-info {
    font-size: 1.4em;
  }
  .register-button {
    font-size: 1.3em;
  }
} 

@media only screen and (max-width: 700px) and (min-width: 600px) {
  .all-content-wrapper h1{
    font-size: 1.7em;
  }
  .content-title-info {
    font-size: 1.2em;
  }
  .register-button {
    font-size: 1.1em;
  }
} 

@media only screen and (max-width: 600px) and (min-width: 500px) {
  .all-content-wrapper h1{
    font-size: 1.5em;
  }
  .content-title-info {
    font-size: 1em;
  }
  .register-button {
    font-size: 0.9em;
    height: 4vh;
  }
  .login-link {
    font-size: 1em;
    padding: 2px 0px;
  }
  .login-link:hover {
    padding-bottom: 0px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  }
} 

@media only screen and (max-width: 500px) and (min-width: 400px) {
  .all-content-wrapper h1{
    font-size: 1.3em;
  }
  .content-title-info {
    font-size: 0.9em;
  }
  .register-button {
    font-size: 0.8em;
    height: 4vh;
    margin: 15px 0px;
    width: 25%;
  }
  .login-link {
    font-size: 0.9em;
    padding: 2px 0px;
  }
  .login-link:hover {
    padding-bottom: 0px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  }
} 

@media only screen and (max-width: 400px) and (min-width: 300px) {
  .all-content-wrapper h1{
    font-size: 1.1em;
    text-align: center;
  }
  .content-title-info {
    font-size: 0.8em;
  }
  .register-button {
    font-size: 0.7em;
    height: 4vh;
    margin: 15px 0px;
    width: 30%;
  }
  .login-link {
    font-size: 0.8em;
    padding: 2px 0px;
    border-radius: 0px;
  }
  .login-link:hover {
    padding-bottom: 0px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  }
} 
