extends ../partials/header
block main
  .all
    .rode
      a.rodePart.rodeLeagues(href="/english/help") Help >
    .all-content
      .question-wrapper
        .what-is
          h1 What is Scourt?
          span Scourt is an internation platform which is published by Emir Erben three months ago and in which you can see and compare the match results, general istatistics and match videos of amator sport leagues. You can access our platform through both our phone app and our web site. As a first in the world, our goal is to improve international sport culture amongs amateurs and teens. If you have any questions or ideas about the Scourt, please send us an email or call one of our representers!
        .communicate
          h1 How can You Reach Us?
          h3 Our e-mail address:
          span scourtapp@gmail.com
          h3 Our phone numbers:
          span +90 534 225 87 51
          span +90 534 512 68 22
          span +90 537 287 70 85
        .app
          h1 Where can You Find Our App?
          span We have an app too! You can download it from the links below.
          .links
            a.app-wrapper(href="https://itunes.apple.com/tr/app/id1420133611?ls=1&mt=8" target="_blank")
              img.app-store(src="/res/app-english.png")
            a.google-wrapper(href="https://play.google.com/store/apps/details?id=com.scourt" target="_blank")
              img.google-store(src="/res/google-english.png")

