.messages-block {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.7);
  height: 90%;
  padding-top: 25px;
}
.messages-wrapper {
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.each-message {
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 5px;
}
.message-sender {
  padding-bottom: 5px;
  padding-left: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  display: flex;
}
.message-content {
  color: black;
  padding: 5px;
  display: flex;
  overflow: hidden;
}
.message-content span {
  text-align: left;
}
.message-sender-input {
  display: none;
}
.message-sender-team-input {
  display: none;
}
.left {
  width: 60%;
}
.right {
  width: 60%;
  margin-left: 100%;
  transform: translateX(-100%);
}
.new-message-form {
  height: 50px;
  width: 100%;
  display: flex;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  margin-bottom: 0px;
}
.message-sending-input {
  width: 100%;
  border-radius: 10px;
  height: 90%;
  font-size: 1.6em;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  padding-left: 15px;
}
.message-sending-button {
  width: 100px;
  height: 80%;
  background-color: gray;
  margin: 4px;
  border-radius: 10px;
  font-size: 1.4em;
  color: black;
  cursor: pointer;
  outline: none;
}
.team-object-value {
  display: none;
}
.user-object-value {
  display: none;
}

.mobile-screen-warning-wrapper {
  display: none;
  position: absolute;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.mobile-screen-warning {
  width: 50%;
  background-color: white;
  border-radius: 10px;
  padding: 25px;
}
.screen-warning-options {
  margin-top: 15px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}
.screen-warning-not-allow {
  height: 35px;
  padding: 0px 8px;
  border-radius: 5px;
  color: black;
  background-color: white;
  border: 1px solid black;
  margin-right: 15px;
  display: flex;
  align-items: center;
}
.screen-warning-allow {
  background: black;
  height: 35px;
  padding: 0px 8px;
  border-radius: 5px;
  color: white;
  outline: none;
  border: none;
  font-size: 1em;
  cursor: pointer;
}
.mobile-warning-from {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
} 

@media only screen and (orientation: portrait) {
  .mobile-screen-warning-wrapper {
    display: flex;
  }
  .content {
    min-height: 100%;
  }
  .all-wrapper {
    min-height: 100%;
  }
  .content-side-header {
    width: 90vw;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  .all-content-dashboard {
    width: 100vw;
    height: 90vh;
    margin: 0px;
    padding: 0px;
    transform: translate(0, 0);
  }
  .new-message-form {
    border-radius: 0px;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 550px) {
  .team-header-span {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 550px) and (min-width: 400px) {
  .team-header-span {
    font-size: 1em;
    margin: 5px 0px;
  }
  .team-description, .team-id-explanation {
    font-size: 0.9em;
  }
  .message-content, .message-sender {
    font-size: 0.9em;
  }
  .messages-block {
    padding-right: 5px;
    padding-left: 10px;
  }
  .left, .right {
    width: 65%;
  }
  .mobile-screen-warning {
    width: 80%;
  }
}
@media only screen and (max-width: 400px) and (min-width: 300px) {
  .team-header-span {
    font-size: 1em;
    margin: 5px 0px;
  }
  .team-description, .team-id-explanation {
    font-size: 0.9em;
  }
  .message-content, .message-sender {
    font-size: 0.9em;
  }
  .messages-block {
    padding-right: 2px;
    padding-left: 2px;
  }
  .left, .right {
    width: 65%;
  }
  .mobile-screen-warning {
    width: 80%;
  }
}
