.videos-wrapper {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-bottom-right-radius: 10px; 
  border-bottom-left-radius: 10px; 
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.videos-header-wrapper {
  display: flex;
  min-height: 50px;
  align-items: center;
  border-bottom: 2px solid white;
  margin: 0px 5px;
}
.header-right-side, .header-left-side {
  display: flex;
  width: 50%;
  align-items: center;
  flex: 1;
}
.header-left-side {
  padding-left: 25px;
}
.header-videos-number {
  font-style: italic;
  margin-left: 15px;
  color: rgba(255, 255, 255, 0.7);
}
.header-right-side {
  justify-content: flex-end;
  padding-right: 25px;
}
.add-new-button {
  background-color: white;
  border-radius: 10px;
  color: black;
  padding: 15px;
  display: flex;
  align-items: center;
  font-size: 1.1em;
  cursor: pointer;
}
.add-new-button i {
  margin-right: 5px;
}
.add-new-button-not-allowed {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  color: black;
  padding: 15px;
  display: flex;
  align-items: center;
  font-size: 1.1em;
  cursor: not-allowed;
}
.add-new-button-not-allowed i {
  margin-right: 5px;
}
.add-new-video-wrapper input {
  display: none;
}
.video-uploading-info {
  display: none;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}
.videos-content-wrapper {
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
.each-video-wrapper {
  display: flex;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  color: black;
}
.each-video-left {
  width: 80%;
}
.each-video-right {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.each-video-tagged {
  padding: 0px;
  margin: 0px;
  margin-top: -15px;
  margin-right: -16px;
  width: 0px;
  height: 0px;
  border-left: 50px solid transparent;
  border-top: 50px solid red;
}
.each-video-tagged::after {
  content: "@";
  color: white;
  position: relative;
  top: -50px;
  left: -22.5px;
  font-size: 1.3em;
}
.video-wrapper {
  cursor: pointer;
}
.video {
  width: 100%;
  border-radius: 10px;
  max-height: 250px;
}
.video-name-part-wrapper {
  display: flex;
  align-items: center;
}
.video-name-part-wrapper i {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2em;
  cursor: pointer;
}
.video-name-part-wrapper i:hover {
  color: black;
}
.video-name {
  margin: 10px 0px;
  margin-right: 10px;
  font-size: 1.5em;
  color: black;
  width: 80%;
}
.video-name-input {
  margin: 10px 0px;
  margin-right: 10px;
  outline: none;
  border: none;
  color: black;
  font-size: 1.5em;
  font-family: "Roboto Slab", "Roboto";
  display: none;
  width: 80%;
}
.video-created-at {
  color: rgba(0, 0, 0, 0.7);
  font-style: italic;
  margin-right: 10px;
  font-size: 0.9em;
}
.video-comments {
  color: rgba(0, 0, 0, 0.7);
  font-style: italic;
  font-size: 0.9em;
  margin-left: 10px;
}
.icons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: black;
}
.each-icon i {
  margin-right: 10px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.4em;
  min-width: 10px;
}
.icons a:hover {
  color: black;
}

@media only screen and (max-width: 1200px) and (min-width: 300px) {
  .videos-content-wrapper {
    grid-template-columns: 1fr;
  }
  .video-wrapper {
    height: 75%;
  }
  .video {
    height: 100%;
    width: auto;
  }
}
