.all-content-dashboard {
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  width: 90vw;
  height: 85vh;
  margin-left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
}
.user-description {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 20%;
}
.user-name {
  font-size: 1.6em;
  color: black;
  margin-right: 5px;
}
.user-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 5px;
}
.content-side-header {
  height: 45px;
  width: 99%;
  margin: 0px;
  margin-bottom: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
}
.header-part-first {
  width: 10vw;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-top-right-radius: 20px;
  box-shadow: 2px 1px black;
  cursor: pointer;
  background-color: white;
  color: black;
}
#selected {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
.header-part {
  width: 10vw;
  background-color: white;
  color: black;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -15px;
  padding-left: 25px;
  border-top-right-radius: 20px;
  box-shadow: 2px 1px black;
  cursor: pointer;
}
.team-header-part {
  z-index: 4;
}
.message-header-part {
  z-index: 3;
}
.date-header-part {
  z-index: 2;
}
.videos-header-part {
  z-index: 1;
}
.videos-wrapper {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-bottom-right-radius: 10px; 
  border-bottom-left-radius: 10px; 
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.videos-header-wrapper {
  display: flex;
  min-height: 50px;
  align-items: center;
  border-bottom: 2px solid white;
  margin: 0px 5px;
}
.header-right-side, .header-left-side {
  display: flex;
  width: 50%;
  align-items: center;
  flex: 1;
}
.header-left-side {
  padding-left: 25px;
}
.header-videos-number {
  font-style: italic;
  margin-left: 15px;
  color: rgba(255, 255, 255, 0.7);
}
.header-right-side {
  justify-content: flex-end;
  padding-right: 25px;
}
.add-new-button {
  background-color: white;
  border-radius: 10px;
  color: black;
  padding: 15px;
  display: flex;
  align-items: center;
  font-size: 1.1em;
  cursor: pointer;
}
.add-new-button i {
  margin-right: 5px;
}
.add-new-button-not-allowed {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  color: black;
  padding: 15px;
  display: flex;
  align-items: center;
  font-size: 1.1em;
  cursor: not-allowed;
}
.add-new-button-not-allowed i {
  margin-right: 5px;
}
.add-new-video-wrapper input {
  display: none;
}
.video-uploading-info {
  display: none;
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}
.videos-content-wrapper {
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
.each-video-wrapper {
  display: flex;
  height: 350px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  color: black;
}
.each-video-left {
  width: 80%;
}
.each-video-right {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.each-video-tagged {
  padding: 0px;
  margin: 0px;
  margin-top: -15px;
  margin-right: -16px;
  width: 0px;
  height: 0px;
  border-left: 50px solid transparent;
  border-top: 50px solid red;
}
.each-video-tagged::after {
  content: "@";
  color: white;
  position: relative;
  top: -50px;
  left: -22.5px;
  font-size: 1.3em;
}
.video-wrapper {
  cursor: pointer;
}
.video {
  width: 100%;
  border-radius: 10px;
  max-height: 250px;
}
.video-name-part-wrapper {
  display: flex;
  align-items: center;
}
.video-name-part-wrapper i {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2em;
  cursor: pointer;
}
.video-name-part-wrapper i:hover {
  color: black;
}
.video-name {
  margin: 10px 0px;
  margin-right: 10px;
  font-size: 1.5em;
  color: black;
  width: 80%;
}
.video-name-input {
  margin: 10px 0px;
  margin-right: 10px;
  outline: none;
  border: none;
  color: black;
  font-size: 1.5em;
  font-family: "Roboto Slab", "Roboto";
  display: none;
  width: 80%;
}
.video-created-at {
  color: rgba(0, 0, 0, 0.7);
  font-style: italic;
  margin-right: 10px;
  font-size: 0.9em;
}
.video-comments {
  color: rgba(0, 0, 0, 0.7);
  font-style: italic;
  font-size: 0.9em;
  margin-left: 10px;
}
.icons {
  position: relative;
  top: 85%;
  transform: translateY(-85%);
  display: flex;
  align-items: center;
}
.icons i {
  margin-right: 7.5px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.4em;
}
.icons i:hover {
  color: black;
}

@media only screen and (max-width: 1000px) and (min-width: 850px) {
  .header-part, .header-part-first {
    width: 14vw;
  }
  .team-header-span {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 850px) and (min-width: 750px) {
  .date-header-part {
    display: none;
  }
  .team-main-content {
    flex-direction: column;
    min-height: 800px;
  }
  .team-main-content-left {
    width: 100%;
    display: flex;
    padding: 0px;
    height: auto;
  }
  .team-main-content-right {
    padding: 0px;
    border: none;
    height: auto;
    width: 100%;
  }
  .each-player-in-team {
    width: 80%;
  }
  .header-part, .header-part-first {
    width: 14vw;
  }
  .team-header-span {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 750px) and (min-width: 550px) {
  .date-header-part {
    display: none;
  }
  .team-main-header {
    flex-direction: column;
    min-height: 100px;
    align-items: flex-start;
  }
  .team-main-header-player-number-span {
    margin: 0px;
  }
  .team-main-content {
    flex-direction: column;
    min-height: 800px;
  }
  .team-main-content-left {
    width: 100%;
    display: flex;
    padding: 0px;
    height: auto;
  }
  .team-main-content-right {
    padding: 0px;
    border: none;
    height: auto;
    width: 100%;
  }
  .each-player-in-team {
    width: 80%;
  }
  .header-part, .header-part-first {
    width: 16vw;
  }
  .team-header-span {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 550px) and (min-width: 400px) {
  .date-header-part {
    display: none;
  }
  .user-name {
    font-size: 1.2em;
  }
  .team-main-header {
    flex-direction: column;
    min-height: 100px;
    align-items: flex-start;
    padding-left: 15px;
  }
  .team-main-header-player-number-span {
    margin: 0px;
  }
  .team-main-content {
    flex-direction: column;
    min-height: 800px;
  }
  .team-main-content-left {
    width: 100%;
    display: flex;
    padding: 0px;
    height: auto;
  }
  .team-main-content-right {
    padding: 0px;
    border: none;
    height: auto;
    width: 100%;
  }
  .each-player-in-team {
    width: 80%;
  }
  .header-part, .header-part-first {
    width: 22vw;
  }
  .team-header-span {
    font-size: 1em;
    margin: 5px 0px;
  }
  .team-description, .team-id-explanation {
    font-size: 0.9em;
  }
  .team-main-header h2 {
    font-size: 1.4em;
    margin: 7.5px 0px;
  }
  .team-main-header-player-number-span, .team-main-header-created-at-span {
    font-size: 0.9em;
    margin: 0px;
  }
  .team-main-header-explanations {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 400px) and (min-width: 300px) {
  .date-header-part {
    display: none;
  }
  .team-main-header {
    flex-direction: column;
    min-height: 100px;
    align-items: flex-start;
    padding-left: 15px;
  }
  .team-main-header-player-number-span {
    margin: 0px;
  }
  .team-main-content {
    flex-direction: column;
    min-height: 800px;
  }
  .team-main-content-left {
    width: 100%;
    display: flex;
    padding: 0px;
    height: auto;
  }
  .team-main-content-right {
    padding: 0px;
    border: none;
    height: auto;
    width: 100%;
  }
  .each-player-in-team {
    width: 80%;
  }
  .team-header-span {
    font-size: 1em;
    margin: 5px 0px;
  }
  .team-description, .team-id-explanation {
    font-size: 0.9em;
  }
  .team-main-header h2 {
    font-size: 1.4em;
    margin: 7.5px 0px;
  }
  .team-main-header-player-number-span, .team-main-header-created-at-span {
    font-size: 0.9em;
    margin: 0px;
  }
  .team-main-header-explanations {
    display: flex;
    flex-direction: column;
  }
  .user-name {
    font-size: 1em;
  }
  .header-part, .header-part-first {
    width: 30vw;
  }
}
