extends ../partials/head
block content
  .edit-block
    h2.title Oyuncu Kaydını Düzenle - #{player.name}
    form.form(action="/admin/players/edit/?id=" + player.id method="POST")
      h4 Düzenlemeleri yapıp kaydedin:
      .form-line
        input(type="text" placeholder="Oyuncu İsmi" autocomplete="false" autofocus name="name" value="" + player.name)
        input(type="text" placeholder="Doğum Tarihi" autocomplete="false" name="date" value="" + player.date) 
        input(type="text" name="pozisyon" autocomplete="false" placeholder="Pozisyon" value="" + player.pozisyon)
      .form-line
        span Cinsiyet:
        select(name="gender")
          option(value="Erkek") Erkek
          option(value="Kız") Kız
      .form-line
        span Gol sayısı:
        input(type="number" name="gol" value="" + player.gol)
        span Asist sayısı:
        input(type="number", name="asist" value="" + player.asist)
      .form-line
        span Oyuncunun Uzunluğu:
        input(type="text" name="boy" value="" + player.boy)
      .form-line
        span Oyuncunun Kilosu:
        input(type="text" name="kilo" value="" + player.kilo)
      .form-line
        span Oyuncunun Oynadığı Ayak:
        select(name="ayak")
          option(value="Sağ") Sağ 
          option(value="Sol") Sol 
          option(value="Her ikisi de") Her ikisi de
      .exit-edit-block-wrapper
        a.exit-edit-block(href="/admin/players") Çıkış
        button.edit-submit(type="submit") Kaydet  
