.all-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 93vh;
}
.videos-wrapper {
  background-color: white;
  border: 1px solid rgb(241, 241, 241);
  width: 90%;
  height: 90%;
  border-radius: 79px;
  display: flex;
  flex-direction: column;
}
.videos-header {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 1% 5%;
}
.header-left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.header-title {
  font-family: "Raleway";
  font-weight: 500;
  color: rgb(112, 112, 112);
  font-size: 40px;
}
.header-videos-number {
  font-family: "Raleway";
  color: rgb(112, 112, 112);
  font-size: 25px;
  font-weight: 300;
}
.header-right-side {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.add-new-button {
  height: 50px;
  background: rgb(233, 233, 233);
  border-radius: 18px;
  border: 1px solid rgb(171, 171, 171);
  padding: 1% 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(112, 112, 112);
  cursor: pointer;
  font-size: 23px;
}
.add-new-button span {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  white-space: nowrap;
}
.add-new-button i {
  margin-right: 3%;
  color: rgb(112, 112, 112);
}
.videos-content {
  flex: 7;
  padding: 1% 5%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.each-video-wrapper {
  background: rgb(249, 249, 249);
  margin-bottom: 1%;
  border-radius: 30px;
  height: 30%;
  width: 70%;
  border: 1px solid rgb(217, 217, 217);
  padding: 3%;
  display: flex;
}
.each-video-left {
  flex: 5;
  display: flex;
  align-items: center;
}
.video-wrapper {
  max-height: 100%;
}
.video {
  height: 100%;
  max-width: 25%;
  border-radius: 10px;
}
.video-info-wrapper {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
}
.video-form {
  display: flex;
  align-items: center;
}
.video-name-input {
  border: 0px;
  padding: 0px;
  background: transparent;
  display: none;
  color: rgb(112, 112, 112);
  font-size: 27px;
  font-weight: 600;
  font-family: "Raleway";
  line-height: 25px;
  outline: none;
}
.video-name {
  color: rgb(112, 112, 112);
  font-size: 27px;
  font-weight: 600;
  font-family: "Raleway";
  line-height: 25px;
}
.video-name-change {
  color: rgb(112, 112, 112);
  font-size: 20px;
  font-weight: 600;
  margin-left: 5px;
  cursor: pointer;
}
.video-created-at {
  margin-top: 2%;
  font-weight: 300;
  color: rgb(112, 112, 112);
  font-size: 23px;
  line-height: 25px;
}
.video-comments {
  font-weight: 300;
  color: rgb(112, 112, 112);
  font-size: 23px;
  line-height: 25px;  
}
.each-video-right {
  flex: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 2%;
}
.each-icon {
  color: rgb(112, 112, 112);
  font-size: 35px;
  font-weight: 600;
  margin-left: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .each-video-wrapper {
    width: 95%;
  }
}

@media only screen and (orientation: portrait) {
  .videos-wrapper {
    border-radius: 50px;
  }
  .header-title {
    font-size: 30px;
  }
  .header-videos-number {
    font-size: 21px;
  }
}
