extends ../../partials/header
block main
  .all
    .rode
      a.rodePart.rodeLeagues(href="/help") Bize Ulaş >
    .rode-english
      a.rodePart.rodeLeagues(href="/help") Help >
    .all-content
      .question-wrapper
        .what-is
          h1 Scourt Nedir?
          span Yaklaşık üç ay önce Emir Erben tarafından kurulan Scourt, amatör spor liglerinin, özellikle de lise düzeyinde olanların maç sonuçlarını, fikstürlerini ve istatistiklerini takip etmeyi kolaylaştıran bir platformdur. Türkiye'de bu alanda ilk olan uygulama hem telefondan hem de bilgisayardan ücretsiz olarak kullanıcılarına hizmet vermekte, Türk spor kültürünü genç yaştan itibaren ileriye taşımayı hedeflemektedir. Uygulamamız bir yandan genç sporculara maç skorlarını ve istatistiklerini paylaşma imkanı sağlarken bir diğer yandan da güncel maç sonuçlarını yayınlamaktadır. Size sağladığımız bu platform üzerinden takip ettiğimiz lise liglerinin maç sonuçlarına, maç videolarına ve takip ettiğimiz okullardaki oyuncuların bilgilerine ulaşabilirsiniz. Eğer uygulamamız hakkında beğenmediğiniz veya değiştirmek istediğiniz bir şey olursa lütfen bize bir mail atmaktan ya da proje yöneticilerimizden birini aramaktan çekinmeyin!
        .communicate
          h1 Nasıl Bize Ulaşabilirsin?
          h3 E-posta adresimiz:
          span scourtapp@gmail.com
          h3 Bize ulaşabileceğin telefon numaraları:
          span +90 534 225 87 51
          span +90 534 512 68 22
          span +90 537 287 70 85
        .app
          h1 Scourt Uygulamasını Nereden İndirebilirsin?
          span Telefonundan da Scourt'u kullanabilmen için Scourt'un bir uygulaması da mevcut! App Store'dan veya Google Play'den indirmek için aşağıdaki linkleri kullanabilirsin.
          .links
            a.app-wrapper(href="https://itunes.apple.com/tr/app/id1420133611?ls=1&mt=8" target="_blank")
              img.app-store(src="/res/app.png")
            a.google-wrapper(href="https://play.google.com/store/apps/details?id=com.scourt" target="_blank")
              img.google-store(src="/res/google.png")
    .all-content-english
      .question-wrapper
        .what-is
          h1 What is Scourt?
          span Scourt is an internation platform which is published by Emir Erben three months ago and in which you can see and compare the match results, general istatistics and match videos of amator sport leagues. You can access our platform through both our phone app and our web site. As a first in the world, our goal is to improve international sport culture amongs amateurs and teens. If you have any questions or ideas about the Scourt, please send us an email or call one of our representers!
        .communicate
          h1 How can You Reach Us?
          h3 Our e-mail address:
          span scourtapp@gmail.com
          h3 Our phone numbers:
          span +90 534 225 87 51
          span +90 534 512 68 22
          span +90 537 287 70 85
        .app
          h1 Where can You Find Our App?
          span We have an app too! You can download it from the links below.
          .links
            a.app-wrapper(href="https://itunes.apple.com/tr/app/id1420133611?ls=1&mt=8" target="_blank")
              img.app-store(src="/res/app-english.png")
            a.google-wrapper(href="https://play.google.com/store/apps/details?id=com.scourt" target="_blank")
              img.google-store(src="/res/google-english.png")

