.all-content {
  width: 100vw;
  height: 93vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-box {
  width: 40%;
  height: 50%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(230, 255, 194, 1);
  border-radius: 79px;
  padding: 5% 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-box-title {
  font-size: 30px;
  font-weight: 600;
  font-family: "Raleway";
  color: rgb(112, 112, 112);
  text-align: center;
}
.input-line {
  display: flex;
  width: 75%;
  height: 12%;
  margin-top: 2%;
  position: relative;
}
.see-password-button {
  font-size: 28px;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.see-password-button:hover {
  color: black;
}
.password-input {
  padding: 3% 5%;
  width: 100%;
  outline: none;
  box-shadow: 0px;
  border: 1px solid rgb(171, 171, 171);
  color: rgb(112, 112, 112);
  border-radius: 82px;
  padding-right: 15%;
  font-size: 28px;
  font-family: "Source Sans Pro";
  font-weight: lighter;
}
.form-send-button {
  width: 75%;
  height: 10%;
  margin-top: 3%;
  outline: none;
  box-shadow: 0px;
  border: 1px solid rgb(158, 158, 158);
  background-color: rgb(102, 102, 102);
  color: rgb(242, 242, 242);
  border-radius: 82px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1% 0;
}
.form-send-button span {
  font-size: 30px;
  font-family: "Source Sans Pro";
  font-weight: bold;
}
.error-line {
  margin-top: 2%;
  justify-content: center;
  width: 100%;
  display: flex;
  font-size: 20px;
  text-align: center;
  color: red; 
}
.error-line-span {
  display: none;
}
.animation-class {
  -webkit-animation: shake 0.1s ease-in-out 0.1s infinite alternate;
}

@-webkit-keyframes shake {
  from {
    color: red;
  }
  to {
    color: rgba(255, 51, 51, 0.7);
  }
}

@media only screen and (orientation: portrait) {
  .input-box {
    width: 80%;
    border-radius: 50px;
  }
}
