extends ../partials/head
block content
  .all-wrapper
    .all-header
      a(href="/").all-header-name scourt
    .all-content
      .all-content-wrapper
        h1 Your Coaching Platform 
        span.content-title-info Record analyze your matches, give feedback to players
        span.content-title-info Get recognized by scouts
        a.register-button.--button(href="/auth/register") Get Started
        a.login-link(href="/auth/login") Login as a player
        a.login-link(href="/auth/coach/login") Login as a coach
      
