extends ../../partials/head
block content
  span.team-object-value= team
  .all-wrapper
    .all-header
      a(href="/").all-header-name scourt
      a(href="/app/edit/coach").user-description
        span.user-name Hi, #{user.name.split(" ")[0]}
        img.user-image(src="/res/uploads/" + user.profilePhoto)
    .all-content-dashboard
      .content-right-side.content-side
        .content-side-header
          -if (team) {
            a(href="/app/team/edit/?id=" + team._id).edit-team
              img.team-photo(src="/res/uploads/" + team.teamPhoto)
              span.team-name #{team.name} 
              span.click-for-details (Click to see team id)
            span.player-number #{team.players.length} joined players
          - }
        .content-right-info
          - if (team) {
            a.go-to-team-button(href="/app/team/?id=" + team.teamId) Go to your team page
          - } else {
            .content-right-not-member
              span Your didn't create a team
              button.join-team-button Create a team
            .content-right-join-team
              form.create-team-form(action="/app/team/new" method="POST")
                .team-left-side 
                  span.create-team-form-info  You should type the following informations before you create your team. After you have created it, you can share it with your players by giving them its unique sharing id.      
                  .exit-create-team 
                    i.fas.fa-arrow-circle-left
                    button.create-team-button Create
                .team-right-side
                  span.team-right-side-explanation Write your team's name: 
                  input(type="text" placeholder="Team name" name="name" autocomplete="off" autofocus)
                  span.team-right-side-explanation Write a short description of your team
                  textarea.text-area(name="description", cols="25", rows="8")
          - }

