extends ../../partials/head
block content
  .all-wrapper
    .all-header
      a(href="/").all-header-name scourt
      a(href="/app/edit").user-description
        span.user-name Hi, #{user.name.split(" ")[0]}
        img.user-image(src="/res/uploads/" + user.profilePhoto)
    .all-content-dashboard
      .content-right-side.content-side
        .content-side-header
          -if (team) {
            .edit-team
              .team-top-left-part
                img.team-photo(src="/res/uploads/" + team.teamPhoto)
              .team-top-right-part
                span.team-name #{team.name} 
            span.player-number #{team.players.length} joined players
          - }
        .content-right-info
          - if (!team) {
            .content-right-not-member
              span Your are not a member of a team
              button.join-team-button Join a team
            .content-right-join-team
              form.join-team-form(action="/app/team/join" method="POST")
                input(type="text" placeholder="Team id" name="id" autocomplete="off" autofocus)
              span Please type a team id to join
          - } else {
              a.go-to-team-button(href="/app/team/?id=" + team.teamId) Go to your team page
          - }

