extends ../../partials/head
block content
  .all-wrapper
    .all-header
      a(href="/de").all-header-name scourt
    .all-content
      .all-content-wrapper
        form.form(action="/deAuth/login/coach" method="POST")
          input.form-inputs(type="text" name="email" placeholder="e-mail-adresse" autocomplete="off" autofocus)
          input.form-inputs(type="password" name="password" placeholder="passwort" autocomplete="off")
          - if (err) {
            - if (err == 1) {
              .err-message 
                span.err-message-text Please type all the necessary information
            - } else if (err == 2) { 
              .err-message 
                span.err-message-text Entschuldigung, Ihre E-Mail oder Ihr Passwort ist falsch.
            - }
          - }
          input.submit-button(type="submit" value="Anmelden")
        .form-explanation
          span.form-explanation-title Sie benötigen eine Trainer-ID und ein Passwort, um sich anzumelden. Sie können Ihre lernen, indem Sie einen unserer Vertreter anrufen oder uns eine E-Mail senden.
          .phone-number-wrapper
            .phone-number-part
              span Unsere Vertreter:
              li +49 163 8781430
              li +49 178 2871845
              li +90 534 225 87 51
            .phone-number-part
              span Unsere E-Mail-Adresse: 
              span scourtapp@gmail.com
