.form-wrapper {
  width: 40vw;
  height: 50vh;
  margin-top: 25%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.40);
  padding: 25px;
  text-align: center;
  border-radius: 10px;
}
h2 {
  color: rgba(66, 66, 66, 0.7)
}
.form {
  display: flex;
  flex-direction: column;
}
.field-password {
  width: 80%;
  height: 50px;
  font-size: 1.8em;
  outline: none;
  border: none;
  margin: 25px 0px;
}
.button-submit {
  height: 50px;
  background-color: rgb(66, 66, 66);
  color: white;
  font-size: 1.7em;
}
.wrong-password {
  color: red;
  font-size: 0.8em;
  padding-top: 25px;
}
