.forms {
  display: flex;
  padding-right: 25px;
  margin-bottom: 25px;
  align-items: center;
}
.forms form {
  margin-right: 100px;
  flex: 1;
}
.add-new {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  padding: 10px 15px;
  background-color: white;
  border-radius: 15px;
  color: rgb(66, 66, 66);
}
.add-new i {
  font-size: 1.4em;
  padding-right: 7.5px;
}
.input-name {
  outline: none;
  border: none;
  background: none;
  height: 30px;
  flex: 1;
  font-family: "Roboto Slab", Roboto;
  font-size: 100%;
}
.players {
  width: 90%;
  min-height: 38vh;
  margin-left: 50%;
  transform: translate(-50%, 0);
}
.players-header {
  display: flex;
  align-items: center;
}
.header-item {
  flex: 1;
  display: flex;
  align-items: center;
}
.Person {
  display: flex;
  border-radius: 10px;
  min-height: 55px;
  align-items: center;
  margin-top: 15px;
  background-color: white;
}
.content-item {
  height: 35px;
  flex: 1;
  border-right: 1px solid rgba(66, 66, 66, 0.1);
  font-size: 0.9em;
  color: rgba(66, 66, 66, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-one {
  padding-left: 15px;
}
.result {
  flex: 0.5;
}
.numberedList {
  height: 20px;
  width: 20px;
  margin-left: -30px;
  color: rgb(66, 66, 66);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.1em;
}
.numberedList i {
  margin-right: 10px;
}
.all {
  padding: 25px;
  font-size: 0.9em;
  overflow: scroll;
}
.sidebar-matches {
  border-right: 5px black solid;
}
