.sidebar-teams {
  border-right: 5px black solid;
}
.forms {
  display: flex;
  padding-right: 25px;
  margin-bottom: 25px;
  align-items: center;
}
.forms .form {
  margin-right: 100px;
  flex: 1;
}
.add-new {
  margin: none;
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  padding: 10px 15px;
  background-color: white;
  border-radius: 15px;
  color: rgb(66, 66, 66);
}
.add-new i {
  font-size: 1.4em;
  padding-right: 7.5px;
}
.teams {
  width: 90%;
  min-height: 38vh;
  margin-left: 50%;
  transform: translate(-50%, 0);
}
.teams-content {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.Team {
  display: flex;
  border-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  align-items: center;
  margin-top: 15px;
  background-color: white;
}
.team-item {
  height: 35px;
  padding-right: 10px;
  flex: 1;
  padding: 5px 5px;
  font-size: 0.9em;
  color: rgba(66, 66, 66, 0.7);
  display: flex;
  align-items: center;
}
.team-logo {
  width: 100%;
  margin: 0px 10px;
  flex: 1;
}
.team-content {
  flex: 5;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.team-content-top {
  display: flex;
  align-items: center;
}
.team-content-top i {
  margin-left: 15px;
  font-size: 1.4em;
}
.team-content-bottom {
  display: flex;
}
.team-logo-image {
  height: 90px;
  width: 90px;
}
.team-item {
  display: flex;
  width: 100%;
}
.team-item-content {
  outline: none;
  border: none;
  background: none;
  margin-bottom: -5px;
}
.team-item-content:hover {
  color: rgb(66, 66, 66);
}
.triangle {
  width: 0px;
  height: 0px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid rgba(66, 66, 66, 0.7);
  margin-left: 5px;
  margin-bottom: -7px;
}
.team-info-players {
  margin-top: 0px;
  width: 85%;
  min-height: 100px;
  margin-left: 100%;
  transform: translateX(-100%);
  display: none;
}
.team-info-matches {
  margin-top: 0px;
  width: 85%;
  min-height: 100px;
  margin-left: 100%;
  transform: translateX(-100%);
  display: none;
}
.all {
  padding: 25px;
  font-size: 0.9em;
  overflow: scroll;
}
.sidebar-teams {
  border-right: 5px black solid;
}
.Person {
  display: flex;
  border-radius: 10px;
  min-height: 55px;
  align-items: center;
  margin-top: 15px;
  background-color: white;
}
.content-item {
  height: 35px;
  padding-right: 10px;
  flex: 1;
  border-right: 1px solid rgba(66, 66, 66, 0.1);
  padding: 5px 5px;
  font-size: 0.9em;
  color: rgba(66, 66, 66, 0.7);
  display: flex;
  align-items: center;
}
.name {
  color: rgba(66, 66, 66);
  font-weight: bold;
  padding-left: 20px;
}
.gol {
  color: rgba(66, 66, 66);
  font-weight: bold;
}
.asist {
  color: rgba(66, 66, 66);
  font-weight: bold;
}
.player-edit {
  height: 20px;
  width: 20px;
  margin-left: -30px;
  color: rgb(66, 66, 66);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.1em;
}
.player-edit i {
  margin-right: 5px;
}
.all {
  padding: 25px;
  font-size: 0.9em;
  overflow: scroll;
}
.no-record-info {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 25px;
  color: rgba(66, 66, 66, 0.7);
}
.team-one {
  padding-left: 15px;
}
.result {
  flex: 0.5;
  justify-content: center;
}
