extends ../partials/header
block content
  form.input-box(action="/edit/password" method="POST")
    span.input-box-title Write your old password and confirm the new one to change your password
    .input-line
      input.password-input.password-input-old(type="password" name="oldPassword" placeholder="Old Password" autofocus autocomplete="off" spellcheck="false")
      i.see-password-button.far.fa-eye
    .input-line
      input.password-input.password-input-one(type="password" name="password" placeholder="New Password" autofocus autocomplete="off" spellcheck="false")
      i.see-password-button.far.fa-eye
    .input-line
      input.password-input.password-input-two(type="password" name="confirmPassword" placeholder="Confirm your new password" autocomplete="off" spellcheck="false")
      i.see-password-button.far.fa-eye
    .form-send-button 
      span Continue
    .error-line
      span.error-line-span.short-password-error Your password should be longer than 5 digits
      span.error-line-span.confirm-password-error Please confirm your password
      span.error-line-span.no-password-error Please enter all the informations above before move on
      if (err) 
        span.error-line-default.wrong-password-error.animation-class Your old password is wrong
