extends ../partials/header
block main
  .all
    .rode
      a.rodePart.rodeLeagues(href="/german/teams") Teams >
    .all-content
      .school-list
        each school in schools
          - if(school.name) {
            a(href="/german/teams/details/?id=" + school.id)
              .each-school
                .school-top
                  .school-symbol-wrapper
                    img.school-symbol(src="/res/schoolLogos/" + school.logo class="" + school.name)
                  .school-name
                    h3.school-name #{school.name}
                .school-bottom
                  .school-players
                    h3 Erste Fünf:
                    each player, index in school.players.slice(0, 5)
                      span.player-names #{index+1}. #{player.name}
                  .details
                    span Fur details shier klicken
                    i.fas.fa-info-circle
          - }
      .school-communication
        span That's all for now. If you want us to follow any team you would like to see here, just send us an e-mail or call one of our representers!
