.calendar-adding-new-event-wrapper {
  background-color: white;
  position: absolute;
  z-index: 5;
  width: 50%;
  min-height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);
  box-shadow: 2px 2px black;
  border-radius: 20px;
  border: 1px solid black;
  padding: 0px 15px;
  color: black;
  display: none;
}
.calendar-adding-form {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding-bottom: 15px;
}
.calendar-adding-form input {
  outline: none;
  font-size: 1.1em;
  border-radius: 10px;
  border: 1px solid black;
  padding-left: 5px;
  height: 25px;
}
.calendar-form-left-side {
  flex: 1;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.calendar-form-left-side span {
  margin: 5px 0px;
}
.text-area {
  border-radius: 20px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.1em;
  padding-left: 10px;
  padding-top: 10px;
}
.calendar-form-right-side {
  flex: 1;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;  
  padding-left: 15px;
}
.radio-input {
  color: black;
}
.calendar-form-part {
  display: flex;
  width: 100%;
  margin-top: 5px;
}
.calendar-form-part label {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.calendar-form-part select {
  margin-right: 5px;
}
.calendar-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.calendar-form-send-part {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 100px;
}
.calendar-form-back-button {
  width: 75px;
  height: 30px;
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin-right: 10px;
  padding: 0px 5px;
  border-radius: 10px;
  justify-content: center;
  cursor: pointer;
}
.calendar-form-back-button i {
  font-size: 1.1em;
  margin-right: 5px;
}
.calendar-form-send-button {
  width: 50px;
  height: 100%;
  background-color: black;
  font-weight: bold;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  height: 30px;
  border-radius: 10px;
  font-size: 1em;
}
.add-new-event-line {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100px;
}
.add-new-button {
  background-color: white;
  color: black;
  height: 50px;
  border-radius: 20px;
  border: 1px solid black;
  display: flex;
  width: 15%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.add-new-button-i {
  margin: 0px 5px;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}
.calendar-header {
  display: flex;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
}
.calendar-month-change-line {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
}
.calendar-before-arrow, .calendar-before-after-arrow, .calendar-before-two-after-arrow, .calendar-two-before-arrow {
  color: black;
  display: flex;
  align-items: center;
  flex: 1;
}
.calendar-before-arrow i, .calendar-before-after-arrow i, .calendar-before-two-after-arrow i, .calendar-two-before-arrow i {
  margin-right: 7.5px;
}
.calendar-after-arrow, .calendar-after-before-arrow, .calendar-after-two-before-arrow, .calendar-two-after-arrow  {
  color: black;
  display: flex;
  align-items: center;
  margin-right: 0px;
  flex: 1;
  justify-content: flex-end;
}
.calendar-after-arrow i, .calendar-after-before-arrow i, .calendar-after-two-before-arrow i, .calendar-two-after-arrow i {
  margin-left: 7.5px;
}
.calendar-three-before-arrow {
  color: black;
  display: flex;
  align-items: center;
  margin-right: 0px;
  flex: 1;
  display: none;
}
.calendar-three-before-arrow i {
  margin-right: 7.5px;
}
.calendar-three-after-arrow {
  color: black;
  display: flex;
  align-items: center;
  margin-right: 0px;
  flex: 1;
  justify-content: flex-end;
  display: none;
}
.calendar-three-after-arrow i {
  margin-left: 7.5px;
}
.calendar-before-button, .calendar-after-button, .calendar-two-before-button, .calendar-two-after-button, .calendar-after-before-button, .calendar-before-after-button, .calendar-after-two-before-button, .calendar-before-two-after-button {
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  border: 1px solid black;
}
.calendar-after-before-arrow, .calendar-after-two-before-arrow, .calendar-before-after-arrow, .calendar-before-two-after-arrow, .calendar-two-before-arrow, .calendar-two-after-arrow  { 
  display: none;
}
.calendar-three-before-button, .calendar-three-after-button {
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  cursor: not-allowed;
  border: 1px solid black;
  opacity: 0.7;
}
.calendar-header-part {
  flex: 1;
  border-right: 1px solid black;
  color: black;
  padding: 5px;
  background-color: rgba(160, 160, 160, 1);
}
.calendar-main-box {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  background-color: rgba(0, 0, 0, 0.6);
}
.calendar-before-main-box, .calendar-two-before-main-box, .calendar-after-main-box, .calendar-two-after-main-box {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
}
.calendar-each-day {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  color: black;
  height: 150px;
}
.calendar-each-day-header {
  padding: 2px;
  background-color: rgba(190, 190, 190, 1);
  margin-bottom: 5px;
  height: 20px;
}
.calendar-each-day-content {
  height: 120px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.trash-icon {
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.trash-icon:hover {
  color: black;
}
.calendar-each-event {
  padding: 2px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.each-event-line {
  display: flex;
  align-items: center;
  padding-left: 2px;
}
.each-event-note {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.7);
  font-style: italic;
}
.each-event-match {
  border-left: 5px solid purple;
}
.each-event-training {
  border-left: 5px solid green;
}
.each-event-special {
  border-left: 5px solid blue;
}
.each-event-todo {
  border-left: 5px solid orange;
}
.today {
  background-color: rgba(255, 0, 0, 0.5);
}
