.team-photo {
  height: 100%;
  border-radius: 10px;
}
.team-name {
  margin: 0px 10px;
  font-size: 0.8em;
}
.click-for-details {
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.6em;
}
.player-number {
  font-size: 0.7em;
  padding-right: 15px;
  height: 100%;
  display: flex;
  align-items: center;
}
.edit-team {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  display: flex;
  align-items: center;
  height: 100%;
}
.team-main-wrapper {
  flex-direction: column;
  display: flex;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0px 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}
.team-main-header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid white;
  padding-left: 25px;
  padding-bottom: 5px;
  min-height: 50px;
}
.team-main-header-player-number-span, .team-main-header-created-at-span {
  margin-left: 15px;
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
}
.team-main-content {
  display: flex;
  padding: 15px 0px;
  height: 100%;
}
.team-main-content-right {
  flex: 1;
  width: 50%;
  height: 100%;
  padding-left: 15px;
  border-left: 1px solid white;
  display: flex;
  flex-direction: column;
}
.team-main-content-left {
  flex: 1;
  width: 50%;
  height: 100%;  
  padding-right: 15px;
  display: flex;
  flex-direction: column;
}
.team-header-span {
  margin-bottom: 5px;
  font-size: 1.3em;
}
.team-picture {
  border-radius: 20px;
  max-width: 90%;
  max-height: 100%;
  margin-bottom: 15px;
  align-self: center;
}
.team-description {
  font-style: italic;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 15px;
  align-self: center;
}
.team-id {
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 5px;
  align-self: center;
}
.team-id-explanation {
  color: rgba(255, 255, 255, 0.7);
  font-style: italic;
  margin-top: 15px;
  align-self: center;
  text-align: center;
}
.players-list-wrapper {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: 80%;
  margin: 5px;
  border-radius: 10px;
}
.each-player-in-team {
  background-color: rgba(255, 255, 255, 0.9);
  height: 35px;
  border-radius: 10px;
  color: black;
  display: flex;
  align-items: center;
  padding-left: 5px;
  margin-bottom: 5px;
}
.each-player-email {
  color: rgba(0, 0, 0, 0.7);
  margin-left: 5px;
}
@media only screen and (max-width: 1000px) and (min-width: 850px) {
  .team-header-span {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 850px) and (min-width: 750px) {
  .team-main-content {
    flex-direction: column;
    min-height: 800px;
  }
  .team-main-content-left {
    width: 100%;
    display: flex;
    padding: 0px;
    height: auto;
  }
  .team-main-content-right {
    padding: 0px;
    border: none;
    height: auto;
    width: 100%;
  }
  .each-player-in-team {
    width: 80%;
  }
  .team-header-span {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 750px) and (min-width: 550px) {
  .team-main-header {
    flex-direction: column;
    min-height: 100px;
    align-items: flex-start;
  }
  .team-main-header-player-number-span {
    margin: 0px;
  }
  .team-main-content {
    flex-direction: column;
    min-height: 800px;
  }
  .team-main-content-left {
    width: 100%;
    display: flex;
    padding: 0px;
    height: auto;
  }
  .team-main-content-right {
    padding: 0px;
    border: none;
    height: auto;
    width: 100%;
  }
  .each-player-in-team {
    width: 80%;
  }
  .team-header-span {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 550px) and (min-width: 400px) {
  .team-main-header {
    flex-direction: column;
    min-height: 100px;
    align-items: flex-start;
    padding-left: 15px;
  }
  .team-main-header-player-number-span {
    margin: 0px;
  }
  .team-main-content {
    flex-direction: column;
    min-height: 800px;
  }
  .team-main-content-left {
    width: 100%;
    display: flex;
    padding: 0px;
    height: auto;
    flex: none;
  }
  .team-main-content-right {
    padding: 0px;
    border: none;
    height: auto;
    width: 100%;
    flex: none;
  }
  .each-player-in-team {
    width: 80%;
  }
  .team-header-span {
    font-size: 1em;
    margin: 5px 0px;
  }
  .team-description, .team-id-explanation {
    font-size: 0.9em;
  }
  .team-main-header h2 {
    font-size: 1.4em;
    margin: 7.5px 0px;
  }
  .team-main-header-player-number-span, .team-main-header-created-at-span {
    font-size: 0.9em;
    margin: 0px;
  }
  .team-main-header-explanations {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 400px) and (min-width: 300px) {
  .team-main-header {
    flex-direction: column;
    min-height: 100px;
    align-items: flex-start;
    padding-left: 15px;
  }
  .team-main-header-player-number-span {
    margin: 0px;
  }
  .team-main-content {
    flex-direction: column;
    min-height: 800px;
  }
  .team-main-content-left {
    width: 100%;
    display: flex;
    padding: 0px;
    height: auto;
  }
  .team-main-content-right {
    padding: 0px;
    border: none;
    height: auto;
    width: 100%;
  }
  .each-player-in-team {
    width: 80%;
  }
  .team-header-span {
    font-size: 1em;
    margin: 5px 0px;
  }
  .team-description, .team-id-explanation {
    font-size: 0.9em;
  }
  .team-main-header h2 {
    font-size: 1.4em;
    margin: 7.5px 0px;
  }
  .team-main-header-player-number-span, .team-main-header-created-at-span {
    font-size: 0.9em;
    margin: 0px;
  }
  .team-main-header-explanations {
    display: flex;
    flex-direction: column;
  }
}
