.exit-create-team {
  margin-top: 10px;
  font-size: 2em;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
}
.team-picture {
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.team-picture-image {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 10px;
}
.team-right-side input {
  height: 40px;
  width: 80%;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.3em;
  padding-left: 10px;
}
.text-area {
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.3em;
  padding-left: 10px;
  padding-top: 10px;
}
.edit-team {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  display: flex;
  align-items: center;
  height: 100%;
}
.team-id {
  font-size: 1.3em;
}
.team-photo {
  height: 100%;
  border-radius: 10px;
}
.team-name {
  margin: 0px 10px;
  font-size: 0.8em;
}
.content-side {
  width: 100%;
  height: 100%;
}
.create-team-form {
  margin-bottom: 15px;
  height: 80%;
  padding: 25px;
  width: 80%;
  margin-left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
} 
.user-name {
  font-size: 1.6em;
  color: black;
  margin-right: 5px;
}
.user-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 5px;
}
.user-description {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 60%;
}
.content-side-header {
  color: rgba(255, 255, 255, 0.8);
  margin: 5px;
  font-size: 1.5em;
  width: 95%;
  padding-left: 15px;
  padding-top: 5px;
  height: 40px;
  margin-top: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}
.team-picture-input {
  display: none;
}
.team-right-side {
  width: 50%;
  flex: 1;
  height: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.team-right-side span {
  margin: 15px 0px;
}
.team-left-side span {
  margin: 15px 0px;
}
.create-team-button {
  margin: 25px 0px;
  width: 60%;
  height: 40px;
  border-radius: 15px;
  color: black;
  font-size: 1.3em;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  outline: none;
}
.team-left-side {
  width: 50%;
  flex: 1;
  height: 100%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
