.all-content-dashboard {
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  width: 90vw;
  height: 85vh;
  margin-left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  margin-bottom: 25px;
}
.user-description {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 20%;
}
.user-name {
  font-size: 1.6em;
  color: black;
  margin-right: 5px;
}
.user-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 5px;
}
.content-side-header {
  height: 45px;
  width: 99%;
  margin: 0px;
  margin-bottom: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
}
.header-part-first {
  width: 10vw;
  background-color: white;
  color: black;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-top-right-radius: 20px;
  box-shadow: 2px 1px black;
  cursor: pointer;
}
.header-part {
  width: 10vw;
  background-color: white;
  color: black;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: -15px;
  padding-left: 25px;
  border-top-right-radius: 20px;
  box-shadow: 2px 1px black;
  cursor: pointer;
}
.team-header-part {
  z-index: 4;
}
.message-header-part {
  z-index: 3;
}
.date-header-part {
  z-index: 2;
}
.videos-header-part {
  z-index: 1;
}
#selected {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

@media only screen and (max-width: 1000px) and (min-width: 850px) {
  .header-part, .header-part-first {
    width: 14vw;
  }
  .team-header-span {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 850px) and (min-width: 750px) {
  .date-header-part {
    display: none;
  }
  .header-part, .header-part-first {
    width: 14vw;
  }
}
@media only screen and (max-width: 750px) and (min-width: 550px) {
  .date-header-part {
    display: none;
  }
  .header-part, .header-part-first {
    width: 16vw;
  }
}
@media only screen and (max-width: 550px) and (min-width: 400px) {
  .date-header-part {
    display: none;
  }
  .user-name {
    font-size: 1.2em;
  }
  .header-part, .header-part-first {
    width: 22vw;
  }
}
@media only screen and (max-width: 400px) and (min-width: 300px) {
  .date-header-part {
    display: none;
  }
  .user-name {
    font-size: 1em;
  }
  .header-part, .header-part-first {
    width: 30vw;
  }
}
