extends ../../partials/head
block content
  .all-wrapper
    .all-header
      span.name scourt
    .all-content
      form.form(action="/app/coach/validate" method="POST" enctype="multipart/form-data")
        .form-left-side
          label.profile-picture(for="profile")
            img.image(src="/res/uploads/" + coach.profileFoto)
          input.profile-input(type="file" id="profile" name="profile" accept="image/*")
          - if (err) {
            - if (err == 1) { 
              .err-message 
                span.err-message-text Please type all the necessary information
            - }
            - else if (err == 2) { 
              .err-message 
                span.err-message-text Please confirm your password 
            - }
            - else if (err == 3) { 
              .err-message 
                span.err-message-text Your e-mail is not valid
            - }
            - else if (err == 4) { 
              .err-message 
                span.err-message-text Your password should be longer than 5 digits
            - }
            - else if (err == 5) { 
              .err-message 
                span.err-message-text Sorry, this e-mail has already been taken
            - }
          - }
        .form-right-side
          .form-explanation
            h2 Hi #{coach.name.split(' ')[0]},
            span Please change the informations you want to edit.
          .form-part
            span.input-info Your name:
            input(type="text" name="name" autocomplete="off" value=coach.name) 
            span.red *
          .form-part
            span.input-info Your email:
            input(type="text" name="email" autocomplete="off" value=coach.email) 
            span.red *
          .form-part
            span.input-info Your phone number:
            input(type="text" name="phone" autocomplete="off") 
          .form-submit
            input.submit-button(type="submit" value="Ok") 
