extends ../partials/header
block main
  .all
    .rode
      a.rodePart.rodeLeagues(href="/english/help") Hilfe >
    .all-content
      .question-wrapper
        .what-is
          h1 Was ist Scourt?
          span Scourt ist eine internationale Plattform, die von sportbegeisterten Jugendlichen veröffentlicht wurde und in der Sie die Spielergebnisse, Spiel-Videos und die allgemeine Statistik der Jugendligen sehen und miteinander vergleichen können. Sie können über unsere Mobile App und unsere Webseite auf unsere Plattform zugreifen. Unser Ziel ist es, die internationale Sportkultur unter Amateuren und Jugendlichen zu verbessern. Wenn Sie Fragen oder Anregungen zum Scourt haben, senden Sie uns bitte eine E-Mail oder rufen Sie einen unserer Vertreter an!
        .communicate
          h1 Wie können Sie uns erreichen?
          h3 Unsere E-Mail Adresse:
          span scourtapp@gmail.com
          h3 Unsere Telefonnummern:
          span +90 534 225 87 51
          span +90 534 512 68 22
          span +90 537 287 70 85
        .app
          h1 Wo finden Sie unsere App?
          span Wir haben auch eine App! Sie können sie unter den folgenden Links unten herunterladen.
          .links
            a.app-wrapper(href="https://itunes.apple.com/tr/app/id1420133611?ls=1&mt=8" target="_blank")
              img.app-store(src="/res/app-english.png")
            a.google-wrapper(href="https://play.google.com/store/apps/details?id=com.scourt" target="_blank")
              img.google-store(src="/res/google-english.png")

