extends ../partials/head
block content 
  .all
    .add-new-block
      h2.title Takım Bilgilerini Değiştir
      form.form(action="/admin/teams/edit/?id=" + team.id method="POST")
        h4 Değiştirmek istediğiniz bilgileri düzenleyin:
        .form-line
          span Takım ismi:
          input(type="text" placeholder="Takım İsmi" autocomplete="off" autofocus name="name" value= team.name)
        .form-line
          span Logo
          input(type="text" placeholder="Takım Logosu" autocomplete="off" name="logo" value= team.logo)
        .exit-add-new-block-wrapper
          a(href="/admin/teams").exit-add-new-block Çıkış
          button.add-new-submit(type="submit") Değiştir  
