.top {
  display: flex;
  width: 90%;
  margin-left: 50%;
  transform: translate(-50%, 0);
}
.matches {
  flex: 1;
  margin-right: 5px;
}
.matches-title {
  width: 100%;
  display: flex;
  align-items: center;
  color: rgb(66, 66, 66);
  height: 50px;
  font-size: 2em;
}
.matches-content {
  display: flex;
  flex-direction: column;
}
.each-match {
  border-radius: 10px;
  display: flex;
  height: 60px;
  background-color: white;
  margin-bottom: 10px;
  padding: 0px 5px;
}
.matches-feature {
  align-self: center;
  height: 60%;
}
.matches-tournament {
  font-size: 0.8em;
  text-align: right;
  margin-right: 20px;
  flex: 1;
  font-weight: bold;
}
.matches-teamOne {
  border-left: 1px solid rgba(0, 0, 0, 0.50);
  padding-left: 20px;
  flex: 2;
  text-align: right;
  font-size: 0.8em;
  color: rgba(66, 66, 66, 0.7);
}
.matches-teamTwo {
  flex: 2;
  font-size: 0.8em;
  color: rgba(66, 66, 66, 0.7);
}
.matches-result {
  flex: 2;
  text-align: center;
  font-size: 1.8em;
  position: relative;
  top: 25%;
  transform: translateY(-50%); 
}
.news {
  flex: 1;
  margin-left: 10px;
}
.videoOne {
  width: 90%;
  height: 85%;
  padding: 10% 5%;
  border: none;
}
.players {
  margin-top: 25px;
  width: 90%;
  margin-left: 50%;
  transform: translate(-50%, 0);
}
.players {
  display: flex;
  flex-direction: column;
}
.players-header {
  display: flex;
  align-items: center;
  margin-bottom: -10px;
}
.players-title {
  font-size: 2em; 
  flex: 5;
}
.players-info {
  flex: 2;
  align-self: flex-end;
  display: flex;
  font-weight: bold;
} 
.players-gol {
  flex: 1;
}
.players-asist {
  flex: 1;
}
.types {
  display: flex;
}
.person {
  display: flex;
  border-radius: 10px;
  min-height: 55px;
  align-items: center;
  margin-top: 15px;
  background-color: white;
}
.content-item {
  height: 35px;
  padding-right: 10px;
  flex: 1;
  border-right: 1px solid rgba(66, 66, 66, 0.1);
  padding: 5px 5px;
  font-size: 0.9em;
  color: rgba(66, 66, 66, 0.7);
  display: flex;
  align-items: center;
}
.content-item-team {
  height: 35px;
  padding-right: 10px;
  flex: 2;
  border-right: 1px solid rgba(66, 66, 66, 0.1);
  padding: 5px 5px;
  font-size: 0.9em;
  color: rgba(66, 66, 66, 0.7);
  display: flex;
  align-items: center;
}
.content-item-last {
  height: 35px;
  padding-right: 10px;
  flex: 1;
  padding: 5px 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.content-item-name {
  height: 35px;
  padding-right: 10px;
  flex: 1;
  border-right: 1px solid rgba(66, 66, 66, 0.1);
  padding: 5px 5px;
  padding-left: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.content-item-gol {
  height: 35px;
  padding-right: 10px;
  flex: 1;
  border-right: 1px solid rgba(66, 66, 66, 0.1);
  padding: 5px 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.tournaments {
  width: 90%;
  transform: translate(-50%, 0);
  margin-left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 25px;
}
.leagues {
  width: 100%;
  background-color: white;
  margin-left: 50%;
  transform: translate(-50%, 0);
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.tournament-header {
  width: 100%;
  height: 50px;
  font-size: 2em;
  color: rgb(66, 66, 66);
}
.leagueHeader {
  display: flex;
  align-items: center;
}
.headerInfo {
  padding: 10px;
  flex: 6;
  display: flex;
}
.header-left {
  flex: 1;
}
.headerInfo .matches-league {
  flex: 2;
}
.headerInfo span {
  padding-right: 10px;
}
.leagueContent {
  flex: 2;
  display: flex;
  padding: 20px
}
.leagueContent span {
  font-size: 1.2em;
  padding-right: 10px;
}
.details {
  margin-left: 75%;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  color: rgba(66, 66, 66, 0.7);
}
.leagueCommunication {
  margin: 75px 0px;
  margin-left: 50%;
  transform: translate(-50%, 0);
  width: 90%;
  display: flex;
  justify-content: center;
  font-size: 1.2em;
  text-align: center;
}
.leagueVideos {
  width: 90%;
}
.details i {
  padding-left: 8px;
}
.headerVideo {
  flex: 3;
  height: 100%;
}
.numberedList {
  height: 20px;
  width: 20px;
  margin-left: -27px;
  color: rgb(66, 66, 66);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.1em;
}

@media only screen and (max-width: 800px) and (min-width: 400px) {
  .matches-league {
    display: none;
  }
  .headerVideo {
    flex: 3;
  }
  .headerInfo {
    padding-left: 25px;
    flex: 2;
  }
}

@media only screen and (max-width: 950px) and (min-width: 800px) {
  .details {
    margin-left: 70%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 750px) {
  .details {
    margin-left: 65%;
  }
}

@media only screen and (max-width: 750px) and (min-width: 600px) {
  .details {
    margin-left: 60%;
  }
}

@media only screen and (max-width: 600px) and (min-width: 500px) {
  .details {
    margin-left: 50%;
  }
  .leagueHeader {
    flex-direction: column;
  }
  .headerInfo {
    width: 100%;
    padding-left: 25px;
  }
  .header-left {
    width: 100%;
  }
  .headerVideo {
    width: 100%;
    padding-left: 25px;
  }
  .leagueVideos {
    width: 65%;
  }
}

@media only screen and (max-width: 950px) and (min-width: 500px) {
  .top {
    flex-direction: column;
  }
  .matches {
    margin: 0px;
  }
  .news {
    margin: 0px;
    height: 300px;
    padding: 0px;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .videoOne {
    height: 100%;
    width: 90%;
    padding: 0px;
    margin-left: 50%;
    transform: translate(-50%, 0);
  }
  .person {
    font-size: 0.8em;
  }
  .players-title {
    flex: 6;
  }
  .players-info {
    flex: 3;
  }
  .content-item-date {
    display: none;
  }
  .person-5, .person-6, .person-7, .person-8, .person-8, .person-9 {
    display: none;
  }
  .matches-league .matches-tournament {
    display: none;
  }
  .matches-league .matches-teamOne {
    border: none;
    padding-left: 0px;
    padding-right: 0px;
  }
  .matches-league .matches-teamTwo {
    padding-right: 0px;
  }
  .matches-league .matches-result {
    padding-right: 0px;
  }
}

@media only screen and (max-width: 500px) and (min-width: 420px) {
  .top {
    flex-direction: column;
  }
  .matches {
    margin: 0px;
  }
  .news {
    margin: 0px;
    height: 200px;
    padding: 0px;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .videoOne {
    height: 100%;
    width: 90%;
    padding: 0px;
    margin-left: 50%;
    transform: translate(-50%, 0);
  }
  .person {
    font-size: 0.8em;
  }
  .players-title {
    flex: 5;
  }
  .players-info {
    flex: 3;
  }
  .content-item-date {
    display: none;
  }
  .content-item-position {
    display: none;
  }
  .person-5, .person-6, .person-7, .person-8, .person-8, .person-9 {
    display: none;
  }
  .matches-tournament {
    display: none;
  }
  .matches-teamOne {
    border: none;
    padding-left: 0px;
    padding-right: 0px;
  }
  .matches-teamTwo {
    padding-right: 0px;
  }
  .matches-league .matches-result {
    padding-right: 0px;
  }
  .players-title {
    font-size: 1.6em;
    margin-right: 15px;
  }
  .matches-title, .tournament-header {
    font-size: 1.6em;
    margin: 0px;
    padding: 0px;
  } 
  .details {
    margin-left: 40%;
  }
  .leagueHeader {
    flex-direction: column;
  }
  .headerInfo {
    width: 100%;
    padding-left: 25px;
  }
  .header-left {
    width: 100%;
  }
  .headerVideo {
    width: 100%;
    padding-left: 25px;
  }
  .leagueVideos {
    width: 65%;
  }
}

@media only screen and (max-width: 420px) and (min-width: 300px) {
  .top {
    flex-direction: column;
  }
  .person {
    font-size: 0.7em;
  }
  .matches {
    margin: 0px;
  }
  .news {
    margin: 0px;
    height: 200px;
    padding: 0px;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  .videoOne {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin-left: 50%;
    transform: translate(-50%, 0);
  }
  .person {
    font-size: 0.8em;
  }
  .players-title {
    flex: 5;
  }
  .players-info {
    flex: 3;
  }
  .content-item-date {
    display: none;
  }
  .content-item-position {
    display: none;
  }
  .person-5, .person-6, .person-7, .person-8, .person-8, .person-9 {
    display: none;
  }
  .matches-tournament {
    display: none;
  }
  .matches-teamOne {
    border: none;
    padding-left: 0px;
    padding-right: 0px;
  }
  .matches-teamTwo {
    padding-right: 0px;
  }
  .matches-league .matches-result {
    padding-right: 0px;
  }
  .players-title {
    font-size: 1.6em;
    margin-right: 15px;
  }
  .matches-title, .tournament-header {
    font-size: 1.6em;
    margin: 0px;
    padding: 0px;
  } 
  .details {
    margin-left: 25%;
  }
  .leagueHeader {
    flex-direction: column;
  }
  .headerInfo {
    width: 100%;
    padding-left: 25px;
  }
  .header-left {
    width: 100%;
  }
  .headerVideo {
    width: 100%;
    padding-left: 25px;
    padding-right: 15px;
  }
  .leagueVideos {
    width: 80%;
  }
  .headerInfo .matches-league {
    display: none;
  }
  .all {
    font-size: 0.8em;
  }
  .tournament-header {
    height: 30px;
  }
  .content-item-gol, .content-item-last, .players-gol, .players-asist {
    flex: 0.5;
  }
  .content-item-team {
    flex: 1;
  }
}
