extends ../partials/head
block content
  .all-wrapper
    .all-header
      a(href="/de").all-header-name scourt
    .all-content      
      form.password-form(action="/de/edit/password" method="POST")
        .form-part.password-form-part-wrapper
          span.input-info Your old password:
          .password-form-part
            input(type="password" name="oldPassword" autocomplete="off" autofocus) 
            span.red *
        .form-part.password-form-part-wrapper
          span.input-info Your new password:
          .password-form-part
            input(type="password" name="password" autocomplete="off") 
            span.red *
        .form-part.password-form-part-wrapper
          span.input-info Confirm your new password:
          .password-form-part
            input(type="password" name="confirmPassword" autocomplete="off") 
            span.red *
        - if (err) {
          - if (err==1) {
            .err-message 
              span.err-message-text Please write all the necessary informations
          - } else if (err==2) {
            .err-message 
              span.err-message-text Sorry, your password is wrong
          - } else if (err==3) {
            .err-message 
              span.err-message-text Please confirm your new password
          - }
        - }
        .form-submit
          .submit-part
            a(href="/de/dashboard")
              i.password-exit-button.fas.fa-arrow-circle-left
            input.password-submit-button(type="submit" value="Ok")
      
