extends ./../partials/head
block content
  .all-wrapper
    .all-header
      a(href="/de").all-header-name scourt
      a.language-change-button(href="/") Go to Scourt Eglish
    .all-content
      .all-content-wrapper
        h1 Ihre Coaching-Plattform
        span.content-title-info Mach das beste aus deiner Mannschaft 
        a.register-button.--button(href="/deAuth/register") Registrieren als Spieler
        a.login-link(href="/deAuth/login") Anmelden als Spieler
        a.login-link(href="/deAuth/login/coach") Anmelden als Trainer
      
