extends ../partials/head
block content
  .sidebar
    .sidebar-header
      .logo
        img(src="./../res/logo.jpeg")
      h2.sidebar-title Admin Sayfası
    a.sidebar-coaches.sidebar-button(href="/admin/coaches") Antrenör Bilgileri
    a.sidebar-exit.sidebar-button(href="/admin/exit") Çıkış
  .sidebar-holder
  .main
    block main
