extends ../partials/head
block content
  .sidebar
    .sidebar-header
      .logo
        img(src="./../res/logo.jpeg")
      h2.sidebar-title Admin Sayfası
    a.sidebar-players.sidebar-button(href="/admin/players") Oyuncu Bilgileri
    a.sidebar-teams.sidebar-button(href="/admin/teams") Takım Bilgileri
    a.sidebar-leagues.sidebar-button(href="/admin/leagues") Lig Bilgileri
    a.sidebar-matches.sidebar-button(href="#") Maç Bilgileri
    a.sidebar-exit.sidebar-button(href="/admin/exit") Çıkış
  .sidebar-holder
  .main
    block main
