extends ../partials/header
block main
  .all
    .rode
      a.rodePart.rodeLeagues(href="/english/teams") Teams >
    .all-content
      .school-list
        each school in schools
          - if(school.get("Name")) {
            a(href="/english/teams/details/?id=" + school.getId())
              .each-school
                .school-top
                  .school-symbol-wrapper
                    img.school-symbol(src="/res/schoolLogos/" + school.get("Logo") class="" + school.get("Name"))
                  .school-name
                    h3.school-name #{school.get("Name")}
                .school-bottom
                  .school-players
                    h3 First Five:
                    each player, index in school.playerData.slice(0, 5)
                      span.player-names #{index+1}. #{player.get("Name")}
                  .details
                    span Click for Details
                    i.fas.fa-info-circle
          - }
      .school-communication
        span That's all for now. If you want us to follow any team you would like to see here, just send us an e-mail or call one of our representers!
